/* fonts
Font-Family: 'Cormorant Garamond', Serif;
Font-Size: 55px;
Font-Family: 'Fira Sans', Sans-Serif;
Font-Size: 15px; */

/* @media (min-width: 768px)  and (orientation: landscape) */


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



h1 {
  Font-Family: 'Cormorant Garamond', Serif;
  Font-Size: 55px;
}

p {
  Font-Family: 'Fira Sans', Sans-Serif;
  Font-Size: 15px; 
}

body {
  overflow: hidden;
  background-image: url(../media/1.jpeg);
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100vh;

}



/* grid container */
.containerMain {
  /* opacity: 0; */
  display: grid;
  grid-template-columns: repeat(24, 1fr) ;
  grid-template-rows: repeat(2, 1fr) repeat(8, 130px) repeat(2, 1fr);
  height: 100vh;
  width: 100%;
}




/* for desktop */
@media (min-width: 768px)  and (orientation: landscape) {
  .containerMain {
    display: grid;
    grid-template-columns: repeat(5, 1fr) repeat(14, 55px) repeat(5, 1fr) ;
    grid-template-rows: repeat(4, 1fr) repeat(10, 35px) repeat(4, 1fr);
    height: 100vh;
    width: 100%;
  }
}

/* temporary borders */
.border {
  border: 3px solid rgb(43, 43, 100);
}

.blue {
  background-color: #5e93acab;
}

.yellow {
  background-color: rgba(231, 196, 107, 0.829);
}

.beige {
  background-color: #d9cdb8df;
}

.grey {
  background-color: #728ea6e3;
}

.brown {
  background-color: #59482C;
}

/* social icons on the top right  */
.social {
  /* grid-column: 22/ span 3;  
  grid-row: 1 / span 1;
  text-align: right;
  background-color: #a6bbced2; */

  grid-column: 16/ span 3;  
  grid-row: 4 / span 1;
  text-align: right;
  background-color: transparent;
  z-index: 5;
  padding: 10px;

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
   -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
       animation: fadein 4s;
}
.socialIcon {
  height: 30px;
  /* background-color: #a6bbced2; */
  padding: 2px;
}

/* social icons on the top right of the main box  */
@media (min-width: 768px) and (orientation: landscape) {
  .social {
    grid-column: 16/ span 3;  
    grid-row: 6 / span 1;
    text-align: right;
    background-color: transparent;
    z-index: 5;
    padding: 10px;
  }
}

/* .signature{
  grid-column: 1/ span 6;  
  grid-row: 1 / span 1;
  margin: 0%;
  padding: 10px;
  text-align: center;
}

.signature a {
  text-align: center;
}

.signature a img {
  display: inline-block;
  height: 55px;
  margin-top: 20px; 
}*/

/* main box with name */
/* for phone /ipad */
.item1 {
  grid-column: 7/ span 12;
  grid-row: 4 / span 4;
  /* background-color: #6b3f40d8;
  color: rgb(245, 242, 229); */
  background-color: #d9cdb8df;
  color: #59482C; 
  
  margin: 0%;
  padding: 50px 20px;
}
/* fade in for the main container on the index page */
.item1 {


  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

.aboutLink {
  Font-Family: 'Cormorant Garamond', Serif; 
  color: #59482C; 
  background-color:  #59482c48; 
  /* border-radius: 7px; */
  text-decoration: none;
  margin-top: 2px;
  padding: 2px 15px;
  font-size: 35px;
  transition: color 1s, background-color 2s;
}
.aboutLink:hover {
  /* background-color:  #ecdcc2a4; 
  text-decoration: underline; */
  background-color:  #90897c9a; 
  color: #16120b; 
}

.item1 h1 {
  margin: 0%;
  padding: 7% 5%;
  text-align: left;
  font-size: 55px;
  letter-spacing: 2px;
  color: #382e1d; 
  transition: background-color 2s;
}
/* .item1 h1:hover {
  background-color: #d9cdb8;
} */

.item1 p {
  margin: 0%;
  padding: 7% 5%;
  text-align: justify;
  font-size: 25px;
  line-height: 35px;
}


/* for desktop */
@media (min-width: 768px) and (orientation: landscape) {
  .item1 {
    grid-column: 7/ span 12;
    grid-row: 6 / span 8;

    margin: 0%;
    padding: 50px 20px;
  }
  .item1 h1 {
    margin: 0%;
    padding: 0px 30px 10px 30px;
    text-align: justify;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    color: #382e1d; 
    font-size: 60px;

  }
  .item1 p {
    margin: 0%;
    padding: 10px 30px 5px 30px;
    text-align: justify;
    line-height: 25px;
    font-size: 15px;
  }

  .aboutLink {
    Font-Family: 'Cormorant Garamond', Serif;
    color: #59482C; 
    background-color:  #59482c32; 
    /* border-radius: 7px; */
    text-decoration: none;
    margin-top: 1px;
    padding: 3px 15px;
    font-size: 20px;
  }
}


/* contact box on the right or bottom in mobile version */
.contactMob {
  display: inline-block;
}
.contactDesk {
  display: none; 
}

.item3 {
  grid-column: 7 / span 12;
  grid-row: 9 / span 1;
  /* background-color: #5e93acea; */
  /* color: white; */
  color: #2f3a44;
  background-color: #728ea6de;
  line-height: 130px;
  text-transform: capitalize;
  font-size: 50px;
  text-align: center;
  /* font-weight: 600; */
  text-decoration: none;
  /* Font-Family: 'Fira Sans', Sans-Serif; */
  font-family: 'Cormorant Garamond', Serif;
  transition: color 1s, background-color 2s;
}

.item3:hover {
  color: #0b0d0f;
  background-color: #637a8f;
}

/* fade in for the main container on the index page */
.item3 {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}





/* for desktop */
@media (min-width: 768px) and (orientation: landscape){
  .contactMob {
    display: none;
  }
  .contactDesk {
   display: inline-block; 
  }
  .item3 {
  
    grid-column: 19/ span 1;
    grid-row: 7 / span 5;
    color: #2f3a44;
    /* color: white; */
    /* background-color: #a1c1ddde; */
    background-color: #728ea6de;
    margin: 0%;
    padding-top: 35px;
    line-height: 16px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    Font-Family: 'Fira Sans', Sans-Serif;
    /* font-family: 'Cormorant Garamond', Serif; */
  }  
}

/* the yellow gallery box on the bottom */
.item4 {
  grid-column: 7 / span 12;
  grid-row: 8 / span 1;
  /* background-color: #5e93acea; */
  background-color: rgba(231, 196, 107, 0.829);
  color:  rgb(73, 62, 34);
  text-transform: capitalize;
  font-size: 53px;
  text-decoration: none;
  text-align: center;
  /* Font-Family: 'Fira Sans', Sans-Serif; */
  font-family: 'Cormorant Garamond', Serif;
  line-height: 130px;
  letter-spacing: 5px;
  transition: color 1s, background-color 2s;
}

.item4:hover {
  color:  rgb(12, 10, 6);
  background-color: rgba(211, 179, 100, 0.966);
}

/* fade in for the main container on the index page */
.item4 {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}


/* for desktop */
@media (min-width: 768px)  and (orientation: landscape) {
  .item4 {
    display: inline-block;
    grid-column: 13/ span 5;
    grid-row: 13 / span 2;
    text-transform: capitalize;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    /* Font-Family: 'Fira Sans', Sans-Serif; */
    font-family: 'Cormorant Garamond', Serif;
    line-height: 70px;
    letter-spacing: 5px;
  }
}








