/* fonts
Font-Family: 'Cormorant Garamond', Serif;
Font-Size: 55px;
Font-Family: 'Fira Sans', Sans-Serif;
Font-Size: 15px; */

/* @media (min-width: 768px)  and (orientation: landscape) */


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}



h1 {
  Font-Family: 'Cormorant Garamond', Serif;
  Font-Size: 55px;
}

p {
  Font-Family: 'Fira Sans', Sans-Serif;
  Font-Size: 15px; 
}

body {
  overflow: hidden;
  background-image: url(../media/7.PNG);
  background-position: center;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 100vh;

}



/* grid container */
.containerMain {
  /* opacity: 0; */
  display: grid;
  grid-template-columns: repeat(24, 1fr) ;
  grid-template-rows: repeat(2, 1fr) repeat(8, 130px) repeat(2, 1fr);
  height: 100vh;
  width: 100%;
}




/* for desktop */
@media (min-width: 768px)  and (orientation: landscape) {
  .containerMain {
    display: grid;
    grid-template-columns: repeat(5, 1fr) repeat(14, 55px) repeat(5, 1fr) ;
    grid-template-rows: repeat(4, 1fr) repeat(10, 35px) repeat(4, 1fr);
    height: 100vh;
    width: 100%;
  }
}

/* temporary borders */
.border {
  border: 3px solid rgb(43, 43, 100);
}

.blue {
  background-color: #5e93acab;
}

.yellow {
  background-color: rgba(231, 196, 107, 0.829);
}

.beige {
  background-color: #d9cdb8df;
}

.grey {
  background-color: #728ea6e3;
}

.brown {
  background-color: #59482C;
}

/* home icon */
.home {
  grid-column: 6/ span 2;  
  grid-row: 2 / span 1;
  z-index: 5;
  margin: 0%;
  padding: 15px 20px;
  text-align: left;

  background-color: rgba(231, 196, 107, 0.829);

  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s; /* Firefox < 16 */
   -ms-animation: fadein 4s; /* Internet Explorer */
    -o-animation: fadein 4s; /* Opera < 12.1 */
       animation: fadein 4s;
}
.homeIcon {
  margin: 0%;
  height: 30px;
  padding: 4px 2px 4px 2px;
}
.homeR {
  display: none;
}

@media (min-width: 768px)  and (orientation: landscape) {
  .home {
    grid-column: 6 / span 1;  
    grid-row: 5 / span 2;
    text-align: center;
    padding: 10px;
    display: inline-block;
    line-height: 70px;
  }
  .homeIcon {
    margin: 0%;
    height: 30px;
    padding: 4px 2px 4px 2px;
  }
  .homeR {
    display: inline-block;
    grid-column: 21 / span 1;  
    grid-row: 7 / span 2;
  }
}



.socialIcon {
  height: 30px;
  /* background-color: #a6bbced2; */
  padding: 2px;
}

/* social icons on the top right of the main box  */
@media (min-width: 768px) and (orientation: landscape) {
  .socialIcon {
    height: 25px;
    /* background-color: #a6bbced2; */
    padding: 2px;
    margin-bottom: -10px;
  }
}



/* main box with name */
/* for phone /ipad */
.item1 {
  grid-column: 7/ span 12;
  grid-row: 4 / span 4;
  /* background-color: #6b3f40d8;
  color: rgb(245, 242, 229); */
  background-color: #D9D2B0df;
  color: #59482C; 
  
  margin: 0%;
  padding: 50px 20px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
   -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
       animation: fadein 2s;
}



.item1 h1 {
  margin: 0%;
  padding: 7% 5%;
  text-align: center;
  font-size: 55px;
  letter-spacing: 2px;
  color: #382e1d; 
  transition: background-color 2s;
}

.item1 p {
  margin: 0%;
  padding: 7% 5%;
  text-align: justify;
  font-size: 25px;
  line-height: 35px;
}
.social img{
  margin-left: 10px;
}

/* for desktop */
@media (min-width: 768px) and (orientation: landscape) {
  .item1 {
    grid-column: 12/ span 9;
    grid-row: 5 / span 9;

    margin: 0%;
    padding: 30px 20px 30px 30px;
  }
  .item1 h1 {
    margin: 0%;
    padding: 0px 30px 0px 40px;
    text-align: center;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    color: #382e1d; 
    font-size: 35px;

  }
  .item1 p {
    margin: 0%;
    padding: 0px 30px 5px 40px;
    text-align: justify;
    line-height: 30px;
    font-size: 16px;
  }

}


/* contact box on the right or bottom in mobile version */
.contactMob {
  display: inline-block;
}
.contactDesk {
  display: none; 
}

.item3 {
  grid-column: 6 / span 13;
  grid-row: 9 / span 1;
  /* background-color: #5e93acea; */
  /* color: white; */
  color: black;
  /* background-color: #a6a051d0; */
  /* background-color: #67807686; */
/* background-color: #dd8160bc; */
background-color: #778c92e7;
  line-height: 130px;
  text-transform: capitalize;
  font-size: 50px;
  text-align: center;
  /* font-weight: 600; */
  text-decoration: none;
  /* Font-Family: 'Fira Sans', Sans-Serif; */
  font-family: 'Cormorant Garamond', Serif;
  transition: color 1s, background-color 2s;
}

.item3:hover {
  background-color: #778c92f6;
}

/* fade in for the main container on the index page */
.item3 {
  -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 4s; /* Firefox < 16 */
      -ms-animation: fadein 4s; /* Internet Explorer */
       -o-animation: fadein 4s; /* Opera < 12.1 */
          animation: fadein 4s;
}





/* for desktop */
@media (min-width: 768px) and (orientation: landscape){
  .contactMob {
    display: none;
  }
  .contactDesk {
   display: inline-block; 
  }
  .item3 {
  
    grid-column: 7/ span 6;
    grid-row: 4 / span 12;
    /* color: white; */
    /* background-color: #a1c1ddde; */
    /* background-color: #728ea6de; */
    margin: 0%;
    padding-top: 35px;
    line-height: 16px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    Font-Family: 'Fira Sans', Sans-Serif;
    /* font-family: 'Cormorant Garamond', Serif; */
  }  
}

/* the yellow gallery box on the bottom */
.item4 {
  grid-column: 7 / span 12;
  grid-row: 8 / span 1;
  /* background-color: #5e93acea; */
  background-color: rgba(231, 196, 107, 0.829);
  color:  rgb(73, 62, 34);
  text-transform: capitalize;
  font-size: 53px;
  text-decoration: none;
  text-align: center;
  /* Font-Family: 'Fira Sans', Sans-Serif; */
  font-family: 'Cormorant Garamond', Serif;
  line-height: 130px;
  letter-spacing: 5px;
  transition: color 1s, background-color 2s;
}

.item4:hover {
  color:  rgb(12, 10, 6);
  background-color: rgba(211, 179, 100, 0.966);
}

/* fade in for the main container on the index page */
.item4 {
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 3s; /* Firefox < 16 */
      -ms-animation: fadein 3s; /* Internet Explorer */
       -o-animation: fadein 3s; /* Opera < 12.1 */
          animation: fadein 3s;
}


/* for desktop */
@media (min-width: 768px)  and (orientation: landscape) {
  .item4 {
    display: inline-block;
    grid-column: 17/ span 3;
    grid-row: 13 / span 2;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    /* Font-Family: 'Fira Sans', Sans-Serif; */
    font-family: 'Cormorant Garamond', Serif;
    line-height: 70px;
    letter-spacing: 5px;
  }
}





.foot {
  grid-column: 1 / span 24;
  grid-row: 14 / span 1;
  background-image: linear-gradient(to bottom, #c9d2d300, #7799B6);
  color: black;
  text-align: center;
}
.footerTxt {
  padding: 5% 0% 0% 0%;
  /* font-weight: bold; */
  font-size: 20px;
}
#sigImage {
  height: 50px;
  display: inline-block;
  margin-bottom: -1%;
}
@media (min-width: 768px)  and (orientation: landscape) {
  .foot {
    display: none;
  }

}














